@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

.section-share {
    .section-container {


        .section-header {
            .title-section {}

            .title-section-ShockingPricesOnline {
                background: #5de272 !important;
                background-image: linear-gradient(120deg, #5de272 0%, #007012 50%, #5de272 100%) !important;
            }

            .btn-section {}
        }

        a .section-body {
            .section-customize {
                .bg-image {}

                .section-MostOutStanding {}

                .section-content {}
            }
        }
    }

    .ShockingPricesOnline {
        border: 2px solid #5de272;
    }
}