.home-footer {

    // position: absolute;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #ccc;
    // // background-color: #252525;

    p {
        width: 100%;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

        a {
            color: #ccc;
            transition: .2s ease;

            &:hover {
                cursor: pointer;
                color: #fafafa;
            }
        }
    }

    .text-center {
        background-color: #0cc0df;
        // height: 40px;
    }
}