.register-background {
    background: #F0F0F0;
    height    : 100vh;

    .register-container {
        width           : 410px;
        height          : 500px;
        margin          : auto;
        position        : absolute;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
        background-color: white;
        border-radius   : 10px;
        box-shadow      : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

        .register-content {


            .container-fnln {
                display       : flex;
                flex-direction: row;
                align-items   : center;
                padding       : 0px 0px !important;

                .container-fnln-one {
                    .form-control-error {
                        border: 1px solid red;
                    }

                    span {

                        text-align: left !important;
                        font-size : 10px;
                        color     : red;
                    }
                }

                .container-fnln-two {
                    .form-control-error {
                        border: 1px solid red;
                    }

                    input {
                        margin-right: 10px;

                    }
                }

            }

            padding: 10px;

            .text-register {
                text-align : center;
                font-weight: 600;
                font-size  : 24px;
                padding-top: 10px;
            }

            .register-input {
                .form-control-error {
                    border: 1px solid red;
                }

                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right   : 8px;
                        top     : 11px;
                        cursor  : pointer;
                    }
                }

                .radio-group {
                    display       : flex;
                    flex-direction: row;
                    align-items   : center;

                    input {
                        margin-right: 5px;
                    }

                    label {

                        margin-right: 10px;
                        margin-top  : 5px !important;
                    }
                }

                .container-gender {

                    .container-gender-one {

                        border       : 1px solid #ccd0d5;
                        box-sizing   : border-box;
                        border-radius: 5px;


                    }

                    .container-gender-two {

                        border       : 1px solid #ccd0d5;
                        box-sizing   : border-box;
                        border-radius: 5px;
                        margin-left  : 47px;

                    }

                    .container-gender-three {

                        border         : 1px solid #ccd0d5;
                        box-sizing     : border-box;
                        border-radius  : 5px;
                        // margin-right: 10px;

                        margin-left: 47px;


                    }


                }


            }

            .btn-register {
                width        : 100%;
                height       : 30px;
                margin       : 10px 0;
                border-radius: 15px;
                color        : white;
                font-size    : 20px;
                outline      : none;
                border       : none;
                background   : #3d8aef
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-register {
                display        : flex;
                text-align     : center;
                justify-content: center;
                margin-top     : 10px;

                .google {
                    font-size      : 30px;
                    background     : rgb(212, 60, 60);
                    border-radius  : 50%;
                    height         : 50px;
                    width          : 50px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : white;
                    margin-right   : 10px;
                }

                .facebook {
                    font-size      : 30px;
                    background     : rgb(18, 70, 148);
                    border-radius  : 50%;
                    height         : 50px;
                    width          : 50px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : white;
                }
            }


        }

        .btn-register {
            width        : 100%;
            height       : 30px;
            margin       : 10px 0;
            border-radius: 15px;
            color        : white;
            font-size    : 20px;
            outline      : none;
            border       : none;
            background   : #3d8aef
        }
    }
}